body{
    background-color: lawngreen;
   }
p > h1{
    border-radius: 5px;
    border-color: red;
}   
/*---------------
positionnement
---------------*/
.position{
    background-color: aquamarine;
    columns: 2;
    display: grid;
}
.positionzone{
    border:khaki;
    column-count: 4;
    display: grid;
    grid-template-columns: 1fr 150px 2fr;
    grid-template-rows: 100px, 50px, 200px;
}
.pos1{
    grid-row: 5/5;
    grid-column: 5/5;
    grid-area: 3/3/4/4;
    margin-top: 0;

}
.position :first-of-type{
    margin-top: 1;
    padding: 1px;
}
.p{
    font-variant: arial;
}